@import url(./reset.css);

:root{
    --background: #222;
    --color: #fff;
}

header h1{
    line-height: 7.5rem;
    text-align: center;
    font-weight: normal;
}
section h2{
    font-weight: normal;
}
section h2::after{
    content: " du système"
}
.section-primary ul{
    border: solid .1rem transparent;
    padding: 1rem;
    
}

.section-primary ul, section{
    max-width: 120rem;
    margin: 0 auto;
}

.section-primary  ul li img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}
footer *{
    text-align: center;
}

/* responsive mobile */
@media screen and (max-width: 120rem){
    body{
        padding: 0 1%;
        text-align: justify;
    }
    section h2{
        text-align: center;
    }
    
}
@media screen and (orientation: landscape){
    section h2{
        text-align: left;
    }
}